appium-python-client==3.1.0
Appium-Python-Client==3.1.0
selenium==4.18.1
pytest==8.1.1
pytest-html==4.1.1
openpyxl==3.1.2
python-dotenv==1.0.1
Pillow==10.3.0
requests==2.31.0
allure-pytest==2.13.5
pytest-xdist==3.5.0
aiohttp==3.9.3
bandit==1.7.8
pytest-rerunfailures==14.0
